<section class="px-5 py-4 container-sm bg-dark text-warning shadow-lg rounded">
    <h2>Información</h2>
    <ul>
        <li>Argumentos de entrada: {{execArgv}}</li>
        <li>Plataforma: {{platform}}</li>
        <li>Versión de Node.js: {{version}}</li>
        <li>Uso de la memoria RSS: {{memoryUsage}}</li>
        <li>Ruta de ejecución: {{cwd}}</li>
        <li>ID del proceso: {{pid}}</li>
        <li>Carpeta del proyecto: {{execPath}}</li>
    </ul>
</section>